<included>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="LOG_FORMAT" value="%d [%p] %c{36} [%X{ip}] [%X{logId}] - %replace(%msg){'\n','\\\\n'}\t%replace(%replace(%xEx){'\n','\\\\n'}){'\t','    '}%nopex%n"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_FORMAT}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</included>
