<included>
  <property name="LOG_FORMAT" value="%d [%p] %c{36} [%X{ip}] [%X{logId}] - %m%n"/>
  <property name="LOG_PATH" value="/var/log/wever/"/>
  <property name="LOG_FILE" value="content-"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}${LOG_FILE}%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>${LOG_FORMAT}</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_FORMAT}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>
</included>